<h2>
  <%= link_to @topic.category.name, @topic.category %>: <%= @topic.name %>
  <%= link_to '[e]', edit_topic_path(@topic) %>
</h2>

<ul>
  <%= render @topic.posts %>
</ul>

<%= link_to 'Answer', new_topic_post_path(@topic) %>