<h2><%= link_to @category.name, @category %>
  <%= link_to '[e]', edit_category_path(@category) %>
  <%= link_to '[x]', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
</h2>
<%= @category.description %>

<!-- sub categories -->
<ul>
  <%= render partial: "sub_category", collection: @category.categories, as: :category %>
</ul>

<!-- topics -->
<ul>
  <%= render @category.topics %>
</ul>

<%= link_to 'New Topic', new_category_topic_path(@category) %>
