<h1><%= link_to "Forum", "/" %></h1>

<user-menu>
  <% if current_user %>
    Hallo, <%= current_user.name %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Einloggen", login_path %> |
    <%= link_to "Registrieren", signup_path %>
  <% end %>
</user-menu>

<ul>
  <li><%= link_to "admin", "/setting_groups" %></li>
  <li><%= link_to "roles", "/roles" %></li>
  <li><%= link_to "permissions", "/permissions" %></li>
</ul>