<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <page-header>
      <%= link_to "root", "/" %>
      <% if current_user %>
        Hallo, <%= current_user.name %>
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Einloggen", login_path %> |
        <%= link_to "Registrieren", signup_path %>
      <% end %>
    </page-haeder>

    <p id="notice"><%= notice %></p>

    <%= yield %>

  </body>
</html>